.about-container {
  padding-bottom: 2vh;
  margin: 0 auto;
  background-color: aliceblue;
  opacity: 0.9;
  width: 80vw;
  border-radius: 10px;
}

.img {
  height: 300px;
}

.content {
width: 75vw;
}

.description {
  font-weight: bold;
  width: 70vw;
}

@media only screen and (min-width: 600px) {
  
  /* .content {
    z-index: 1;
    position: relative;
    top: 2vh;
  } */

  .description {
    width: 40vw;
  }
}

ul {
  list-style: none;
}